@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;1,400&display=swap');

body{
  font-family: nunito;
  /* width: 54%; */
  margin: 0 auto;
  background-color: #FAFAFA;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.counter {
  text-align: center;  
}
.container .heading{
  text-align: center;
}

.counter .count-box{
  height: 200px;
  width: 200px;
  background-color: #218113;
  color: aliceblue;
  margin: auto;
  border-radius: 50%;
  border: 3px solid #1ea145;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  font-size: 4rem;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.counter .count-box:hover{
  background-color: darkolivegreen;
}

button,
.menu a{
  border: none;
  background-color: white;
  box-shadow: 0px 0px 5px #11839f;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  color: #169985;
  text-decoration: none;
}

button{
  width: 15%;
  /* font-weight: bold; */
  margin-top: 30px;
}

.menu{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin: 20px;
}


.menu a:hover,
.menu a.active
{
  background-color: #1ea145;
  color: aliceblue;
}

/* .activeMenu{
  background-color: #1ea145;
} */

button:hover{
  background-color: #1ea145;
  color: aliceblue;
}
.info{
  width: 50%;
  text-align: center;
  background-color:lightblue;
  border: 1px dashed #169985;
  padding: 5px 10px;
  margin: 20px auto;
}

.info span{
  font-size: 18px;
  font-weight: bold;
  color: #218113;
}

@media only screen and (max-width: 1250px)  {
  .info{
    width: 80%;
  }
}